In [6]:
arr=(1,2,3,4,5,6,7,8,9)
for elem in arr:
    print(elem)

1
2
3
4
5
6
7
8
9

In [7]:
arr=(1,2,3,4,5,6,7,8,9)
for elem in arr:
    if elem == 6: 
        break
    print(elem)

1
2
3
4
5

In [8]:
print("bilal")
print("bilal")
print("bilal")
print("bilal")
print("bilal")

bilal
bilal
bilal
bilal
bilal

In [9]:
for a in range(5):
    print("bilal")

bilal
bilal
bilal
bilal
bilal

In [10]:
for a in range(5):
    print(a,"bilal")

0 bilal
1 bilal
2 bilal
3 bilal
4 bilal

In [11]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [12]:
for number in range(1,10):
    print(number)

1
2
3
4
5
6
7
8
9

In [13]:
for number in range(1,10,2):
    print(number)

1
3
5
7
9

In [7]:
for number in range(1,10):
    print(number)
    number=number+2

1
2
3
4
5
6
7
8
9

In [14]:
for number in range(10,1,-2):
    print(number)

10
8
6
4
2

In [15]:
for number in range(-10,-1,):
    print(number)

-10
-9
-8
-7
-6
-5
-4
-3
-2

In [16]:
for number in range(-10,-1,2):
    print(number)

-10
-8
-6
-4
-2

In [17]:
cities="multan","karachi","islamabad"
cities

('multan', 'karachi', 'islamabad')

In [18]:
for city in cities:
    print(f"the city under concideration is {city}")

the city under concideration is multan
the city under concideration is karachi
the city under concideration is islamabad

In [19]:
for city in cities:
    print(f"the city under concideration is {city}")

the city under concideration is multan
the city under concideration is karachi
the city under concideration is islamabad

In [20]:
for num in [11,22,33,44,55,66]:
    print(num)

11
22
33
44
55
66

In [21]:
for n in [11,22,33,44,55,66]:
    print(n)

11
22
33
44
55
66

In [22]:
country= "pakistan"
for char in country:
    print(char)

p
a
k
i
s
t
a
n

In [23]:
country= "pakistan", "india"
for char in country:
    print(char)

pakistan
india

# for loops break and continue

In [24]:
for num in range(10):
    if num==4:
        break #break age k sub num khatam kar deta hai
    print(num)

0
1
2
3

In [25]:
for num in range(10):
    if num%3==1:
        break 
    print(num)

0

In [26]:
for num in range(10):
    if num%3==0:
        break 
    print(num)#ok kun k strt mein hi break ho gea

In [27]:
for num in range(10):
    if num%3==4:
        break 
    print(num)

0
1
2
3
4
5
6
7
8
9

In [28]:
for num in range(1,10):
    if num+2==6:
        break 
    print(num)

1
2
3

In [29]:
for num in range(1,10):
    if num%3==0:
        break 
    print(num)

1
2

In [30]:
for num in range(1,10):
    if num%6==0:
        break 
    print(num)

1
2
3
4
5

In [31]:
for num in [5,7,11,90]:
    if num%3==0:
        break 
    print(num)

5
7
11

In [32]:
for num in range(10):
    if num==7:
        continue #continue sir us num ko jo bataya hai us ko khatam kar k age se dobara continue ho ja ta hai
    print(num)

0
1
2
3
4
5
6
8
9

In [33]:
for num in range(10):
    if num==7 or num==4:
        continue 
    print(num)

0
1
2
3
5
6
8
9

# nested fo loop

In [34]:
for a in range(5):
    print("innner loop beging")

innner loop beging
innner loop beging
innner loop beging
innner loop beging
innner loop beging

In [35]:
for a in range(5):
    print("innner loop beging")
    for char in"china":
        print(char)

innner loop beging
c
h
i
n
a
innner loop beging
c
h
i
n
a
innner loop beging
c
h
i
n
a
innner loop beging
c
h
i
n
a
innner loop beging
c
h
i
n
a

In [36]:
for a in range(5):
    print("innner loop beging")
    for char in"china":
        print(a,char)

innner loop beging
0 c
0 h
0 i
0 n
0 a
innner loop beging
1 c
1 h
1 i
1 n
1 a
innner loop beging
2 c
2 h
2 i
2 n
2 a
innner loop beging
3 c
3 h
3 i
3 n
3 a
innner loop beging
4 c
4 h
4 i
4 n
4 a

In [13]:
table_num=int(input("table_num"))
for a in range(1,11):
    print(f"{table_num} * {a} = {table_num*a}")

table_num6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [14]:
table_num=input("table_num")# num ko starat mein intger ni kea isi lea str mein show ho raha hai
for a in range(1,11):
    print(f"{table_num}*{a}={table_num*a}")

table_num6
6*1=6
6*2=66
6*3=666
6*4=6666
6*5=66666
6*6=666666
6*7=6666666
6*8=66666666
6*9=666666666
6*10=6666666666

In [1]:
tables=int(input("enter num range tables"))

for table in range (2,tables+1):
    for a in range(1,11):
        print(f"{table} * {a} = {table*a}")

enter num range tables5
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [16]:
tables=int(input("enter num range tables"))
tables1=int(input("enter next num"))

for table in range (2,tables+1):
    for a in range(1,11):
        print(f"{table} * {a} = {table*a}")

enter num range tables3
enter next num6
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [ ]:
tables=int(input("enter num range tables"))
for a in range(1,11):
    for table in range (2,tables+1):
        print(f"{table} * {a} = {table*a}")

In [ ]:
tables=int(input("enter num range tables"))

for table in range (4,tables+1):
    for a in range(1,11):
        print(f"{table} * {a} = {table*a}")

# TYPE CASTING

In [ ]:
user_input=input()
type(user_input)

In [ ]:
user_input=input()
type(user_input)

In [ ]:
user_input=input(8)
type(user_input)

In [ ]:
user_input=input("enter")
type(user_input)

In [ ]:
user_input=int(input())
type(user_input)

In [ ]:
user_input=int(input("enter"))
type(user_input)

In [ ]:
user_input=int(input("enter"))
type(user_input)

# changing case

In [ ]:
type("i am string")

In [ ]:
name="pakistan"
type(name)