In [1]:
#must be import panda
import pandas as pd
obj=pd.Series([4,5,6,7,8])
print(obj)

0    4
1    5
2    6
3    7
4    8
dtype: int64

In [2]:
import pandas as pd

In [3]:
dd=pd.Series([1,2,3,4,5,8])

In [4]:
dd

0    1
1    2
2    3
3    4
4    5
5    8
dtype: int64

In [5]:
print(dd)

0    1
1    2
2    3
3    4
4    5
5    8
dtype: int64

In [6]:
obj

0    4
1    5
2    6
3    7
4    8
dtype: int64

# pandas Sereis has two things in one object
1) values
2)index

In [7]:
sales=pd.Series([100,200,333,444])
print(sales.values)

[100 200 333 444]

In [8]:
sales=pd.Series([100,200,333,444])
print(sales.values)
print(sales.index)

[100 200 333 444]
RangeIndex(start=0, stop=4, step=1)

In [9]:
sales=pd.Series([100,200,333,444],index=["a","b","c","d"])
print(sales.values)
print(sales.index)

[100 200 333 444]
Index(['a', 'b', 'c', 'd'], dtype='object')

In [10]:
print(sales)

a    100
b    200
c    333
d    444
dtype: int64

In [11]:
sales1=pd.Series([100,200,333,444],index=["a","b","c","d"],name="4 month sales")

In [12]:
sales1

a    100
b    200
c    333
d    444
Name: 4 month sales, dtype: int64

# creat a pandas Series to store a canteen data to hold values of how many sanhwithes are sold each day (a week)

In [13]:
sw=pd.Series([0,10,22,33,44,55,66],index=["sun","m0n","tue","wen","thu","fri","sat"])
print(sw)

sun     0
m0n    10
tue    22
wen    33
thu    44
fri    55
sat    66
dtype: int64

In [14]:
#call value by position

In [15]:
print(sw[3])

33

In [16]:
#call value by index

In [17]:
print(sw["wen"])

33

In [18]:
#multipul value ko call karne k lea array notation lagana hota hai

In [19]:
print(sw[[2,5]])

tue    22
fri    55
dtype: int64

In [20]:
print(sw[["m0n","fri"]])

m0n    10
fri    55
dtype: int64

In [21]:
#conditional call

In [22]:
print(sw>20)

sun    False
m0n    False
tue     True
wen     True
thu     True
fri     True
sat     True
dtype: bool

In [23]:
print(sw[sw>20])

tue    22
wen    33
thu    44
fri    55
sat    66
dtype: int64

In [24]:
print(sw[sw<44])

sun     0
m0n    10
tue    22
wen    33
dtype: int64

In [25]:
# * , /

In [26]:
sw * 2 #sw * 2 karne se value us time k lea change ho jai gi par sw ki orignal value par farq ni phare ga.or print sw karane par sw ki orignal value aai gi
print(sw)

sun     0
m0n    10
tue    22
wen    33
thu    44
fri    55
sat    66
dtype: int64

In [27]:
sw * 2 #sw * 2 karne se value us time k lea change ho jai gi par sw ki orignal value par farq ni phare ga.

sun      0
m0n     20
tue     44
wen     66
thu     88
fri    110
sat    132
dtype: int64

In [28]:
sw

sun     0
m0n    10
tue    22
wen    33
thu    44
fri    55
sat    66
dtype: int64

In [29]:
#value change karne k lea

In [30]:
sw = sw * 2

In [31]:
print (sw)

sun      0
m0n     20
tue     44
wen     66
thu     88
fri    110
sat    132
dtype: int64

In [32]:
sw = sw / 2

In [33]:
print(sw)

sun     0.0
m0n    10.0
tue    22.0
wen    33.0
thu    44.0
fri    55.0
sat    66.0
dtype: float64

In [34]:
sw

sun     0.0
m0n    10.0
tue    22.0
wen    33.0
thu    44.0
fri    55.0
sat    66.0
dtype: float64

In [35]:
"55.0" in sw

False

In [36]:
"sat" in sw

True

In [37]:
#numpy ky data ko panda mein add karne k lea

In [38]:
import numpy as np
ar=np.array([1,2,3,4,5,6])
print(ar)

[1 2 3 4 5 6]

In [39]:
import numpy as np
ar=np.array([1,2,3,4,5,6])
ind=np.array(["a","b","c","d","e","f"])

obj2=pd.Series(ar, index=ind)
print(obj2)

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int32

In [40]:
#dictionary ky data ko panda mein add karne k lea

In [41]:
sdata={"bilal":4500000,"haroon":300000000,"adnan":345555555,"junaid":50000000}
tax_pay=pd.Series(sdata)
print(tax_pay)

bilal       4500000
haroon    300000000
adnan     345555555
junaid     50000000
dtype: int64

In [42]:
print(tax_pay.index)

Index(['bilal', 'haroon', 'adnan', 'junaid'], dtype='object')

In [43]:
sdata={"bilal":4500000,"haroon":300000000,"adnan":345555555,"junaid":50000000}
tax_pay=pd.Series(sdata,index=["bilal","haroon","adnan","junaid"])
print(tax_pay)

bilal       4500000
haroon    300000000
adnan     345555555
junaid     50000000
dtype: int64

In [44]:
sdata={"bilal":4500000,"haroon":300000000,"adnan":345555555,"junaid":50000000}
tax_pay=pd.Series(sdata)
print(tax_pay)

bilal       4500000
haroon    300000000
adnan     345555555
junaid     50000000
dtype: int64

In [45]:
#agar index change kare ge to value bhe change ho jai ge jase bilal ki jaga horon or haroon ki jaga bilal.
sdata={"bilal":4500000,"haroon":300000000,"adnan":345555555,"junaid":50000000}
tax_pay=pd.Series(sdata,index=["haroon","bilal","adnan","junaid"])
print(tax_pay)

haroon    300000000
bilal       4500000
adnan     345555555
junaid     50000000
dtype: int64

In [46]:
#(nan) value wo hoti hai jis mein ham koi value na dein q k 0 zero value bhe value hoti hai. 
sdata={"bilal":4500000,"haroon":300000000,"adnan":345555555,"junaid":50000000}
tax_pay=pd.Series(sdata,index=["haroon","bilal","adnan","junaid","ggg"])
print(tax_pay)

haroon    300000000.0
bilal       4500000.0
adnan     345555555.0
junaid     50000000.0
ggg               NaN
dtype: float64

In [47]:
#nan value malom karne k lea
pd.isnull(tax_pay)

haroon    False
bilal     False
adnan     False
junaid    False
ggg        True
dtype: bool

In [48]:
tax_pay.isnull()

haroon    False
bilal     False
adnan     False
junaid    False
ggg        True
dtype: bool

#                                          DATA FRAME

In [49]:
import pandas as pd

In [50]:
s1 = pd.Series([3,2,1,6])
s2 = pd.Series(["a","b","c","d"])
print(s1)
print(s2)

0    3
1    2
2    1
3    6
dtype: int64
0    a
1    b
2    c
3    d
dtype: object

In [51]:
data={"s1":s1,"s2":s2}

In [52]:
frame=pd.DataFrame(data)
print(frame)

   s1 s2
0   3  a
1   2  b
2   1  c
3   6  d

In [53]:
import pandas as pd
s1 = pd.Series([3,2,1,6])
s2 = pd.Series(["a","b","c","d"])
print(s1)
print(s2)
data={"s1":s1,"s2":s2}
frame=pd.DataFrame(data)
print(frame)

0    3
1    2
2    1
3    6
dtype: int64
0    a
1    b
2    c
3    d
dtype: object
   s1 s2
0   3  a
1   2  b
2   1  c
3   6  d

In [54]:
city=["karachi","lahor","islamabad","multan","faislabad"]
years=[2001,2002,2003,2004,2005]
pop=[1.50,2.0,5.2,6.5,4.8]
data1={"city":city,"years":years,"pop":pop}
frame1=pd.DataFrame(data1)
print(frame1)

        city  years  pop
0    karachi   2001  1.5
1      lahor   2002  2.0
2  islamabad   2003  5.2
3     multan   2004  6.5
4  faislabad   2005  4.8

In [55]:
data2={"city":["karachi","lahor","islamabad","multan","faislabad","rawalpindi"],"years":[2001,2002,2003,2004,2005,2006],"pop":[1.50,2.0,5.2,6.5,4.8,3.6]}
frame2=pd.DataFrame(data2,index=["a","s","d","f","g","h"])
print(frame2)

         city  years  pop
a     karachi   2001  1.5
s       lahor   2002  2.0
d   islamabad   2003  5.2
f      multan   2004  6.5
g   faislabad   2005  4.8
h  rawalpindi   2006  3.6

In [56]:
data3={"city":["karachi","lahor","islamabad","multan","faislabad"],"years":[2001,2002,2003,2004,2005,2006],"pop":[2.0,5.2,6.5,4.8,1.6]}
frame3=pd.DataFrame(data2,index=["a","s","d","f","g","h","i"])#index agar value se zada ho ga ya kam ho ga to value error aai ga.
print(frame3)

ValueError: Shape of passed values is (6, 3), indices imply (7, 3)

In [57]:
#agar sari value put na karni ho sirf top 5 print karni ho to(.head()) ki cammend use kare ge
frame2.head()

        city  years  pop
a    karachi   2001  1.5
s      lahor   2002  2.0
d  islamabad   2003  5.2
f     multan   2004  6.5
g  faislabad   2005  4.8

In [62]:
# data frame mein columns ki setting change karne k lea
frame2=pd.DataFrame(data2, columns=["city","pop","years"])
frame2.head()

        city  pop  years
0    karachi  1.5   2001
1      lahor  2.0   2002
2  islamabad  5.2   2003
3     multan  6.5   2004
4  faislabad  4.8   2005

In [63]:
#columns add karne k lea or sath index dene k lea
frame2=pd.DataFrame(data2, columns=["years","pop","city","dept"],index=["one","two","three","four","five","six"])
frame2

       years  pop        city dept
one     2001  1.5     karachi  NaN
two     2002  2.0       lahor  NaN
three   2003  5.2   islamabad  NaN
four    2004  6.5      multan  NaN
five    2005  4.8   faislabad  NaN
six     2006  3.6  rawalpindi  NaN

In [ ]:
frame2=pd.DataFrame(data2, columns=["years","pop","city","dept"],index=["one","two","three","four","five","six"])
frame2.head()

In [ ]:
#columns check karne k lea (.columns)

In [ ]:
frame2.columns

In [ ]:
frame2.columns # print likhe bena jupyter sirf last code ko hi print karata hai
frame2.index

In [ ]:
print(frame2.columns) 
print(frame2.index)

In [ ]:
#data frame mein se columns ko call karne k, lea dictinary like notation methord

In [ ]:
print(data2)#yy dictinary hai

In [ ]:
data2["years"]#yy dic mein se call karne k lea

In [ ]:
frame2["city"]#data frame mein se call karne k lea

In [ ]:
frame2["pop"]

In [ ]:
#data call attribute style in data frame

In [ ]:
frame2.city

In [ ]:
frame2.years

In [ ]:
frame2.pop

In [ ]:
frame2.dept

In [ ]:
frame2.loc["two"]#row ka data malom karne k lea

In [ ]:
frame2.iloc[1,2]

# Function application And mapping

In [ ]:
import numpy as np
import pandas as pd
frame = pd.DataFrame(np.random.randn(4,3)
                             ,columns=list("bde")
                             ,index=["utah","ohio","texas","oregon"])
print(frame)
print(np.abs(frame))#is se frame ki - value + ho jai gi

In [ ]:
import numpy as np
import pandas as pd
frame = pd.DataFrame(np.random.randn(4,3)
                             ,columns=list("bde")
                             ,index=["utah","ohio","texas","oregon"])
print(frame)
#print(np.abs(frame))#is ko ab band kar dea
print(frame["d"].min())
print(frame["d"].max())
print(frame["d"].max() - frame["d"].min())

In [ ]:
import numpy as np
import pandas as pd
frame = pd.DataFrame(np.random.randn(4,3)
                             ,columns=list("bde")
                             ,index=["utah","ohio","texas","oregon"])
print(frame)
#print(np.abs(frame))#is ko ab band kar dea
print(frame["d"].min())
print(frame["d"].max())
print(frame["d"].max() - frame["d"].min())

f=lambda x:x.max() - x.min()
df=frame.apply(f)
print(df)

In [ ]:
import numpy as np
import pandas as pd
frame = pd.DataFrame(np.random.randn(4,3)
                             ,columns=list("bde")
                             ,index=["utah","ohio","texas","oregon"])
print(frame)
#print(np.abs(frame))#is ko ab band kar dea
print(frame["d"].min())
print(frame["d"].max())
print(frame["d"].max() - frame["d"].min())

f=lambda x:x.max() - x.min()
df=frame.apply(f)
print(df,type(df))#type()   type malom karne k lea hai k kis type ka data hai

In [ ]:
import numpy as np
import pandas as pd
frame = pd.DataFrame(np.random.randn(4,3)
                             ,columns=list("bde")
                             ,index=["utah","ohio","texas","oregon"])
print(frame)
#print(np.abs(frame))#is ko ab band kar dea
#print(frame["d"].min())
#print(frame["d"].max())
#print(frame["d"].max() - frame["d"].min())

f=lambda x:x.max() - x.min()
df=frame.apply(f)
print(df)

In [ ]:
import numpy as np
import pandas as pd
frame = pd.DataFrame(np.random.randn(4,3)
                             ,columns=list("bde")
                             ,index=["utah","ohio","texas","oregon"])
print(frame)
#print(np.abs(frame))#is ko ab band kar dea
print(frame["d"].min())#minimum num malom karne k lea (d) column se 
print(frame["d"].max())#maximum num malom karne k lea (d) column se
print(frame["d"].max() - frame["d"].min())

f=lambda x:x.max() - x.min()#function banaya hai 
df=frame.apply(f) #columns par apply ho ga k b,d,e colums mein se max mein se min - kar k batai
print(df,type(df))

dc=frame.apply(f, axis=1)#row par apply ho ga k sab row mein se max mein se min - kar k batai
print(dc)

In [ ]:
import numpy as np
import pandas as pd
frame = pd.DataFrame(np.random.randn(4,3)
                             ,columns=list("bde")
                             ,index=["utah","ohio","texas","oregon"])
print(frame)
#print(np.abs(frame))#is ko ab band kar dea name k bena hai
print(frame["d"].min())#minimum num malom karne k lea (d) column se 
print(frame["d"].max())#maximum num malom karne k lea (d) column se
print(frame["d"].max() - frame["d"].min())

f=lambda x:x.max() - x.min()#function banaya hai
df=frame.apply(f) #columns par apply ho ga k b,d,e colums mein se max mein se min - kar k batai
print(df,type(df))

dc=frame.apply(f, axis=1)#row par apply ho ga k sab row mein se max mein se min - kar k batai
print(dc)

def min_max(x):#nam k sath function define karna
    minimum=x.min()
    maximum=x.max()
    return pd.Series([minimum , maximum],index=["min","max"])
dd=frame.apply(min_max)
print(dd,type(dd))#type()   type malom karne k lea hai k kis type ka data hai

In [ ]:
import numpy as np
import pandas as pd
frame = pd.DataFrame(np.random.randn(4,3)
                             ,columns=list("bde")
                             ,index=["utah","ohio","texas","oregon"])
print(frame)
#print(np.abs(frame))#is ko ab band kar dea
print(frame["d"].min())#minimum num malom karne k lea (d) column se 
print(frame["d"].max())#maximum num malom karne k lea (d) column se
print(frame["d"].max() - frame["d"].min())

f=lambda x:x.max() - x.min()#function banaya hai
df=frame.apply(f) #columns par apply ho ga k b,d,e colums mein se max mein se min - kar k batai
print(df,type(df))

dc=frame.apply(f, axis=1)#row par apply ho ga k sab row mein se max mein se min - kar k batai
print(dc)

def min_max(x):#nam k sath function define karna
    #minimum=x.min()# is k bena bhe direct apply kar sakte hain function
    #maximum=x.max()# is k bena bhe direct apply kar sakte hain function
    return pd.Series([x.min(),x.max()],index=["min","max"])#direct apply kea
dd=frame.apply(min_max)#columns wise
print(dd)


dd=frame.apply(min_max, axis=1)#row wise
print(dd)

In [ ]:
#apni practice
def min_max(x):#nam k sath function define karna
    minimum=x.min()
    maximum=x.max()
    return pd.Series([maximum - minimum],index=["max-min"])
dd=frame.apply(min_max)#columns wise
print(dd)


dd=frame.apply(min_max, axis=1)#row wise
print(dd)

In [ ]:
#apni practice
def min_max(x):#nam k sath function define karna
    #minimum=x.min()
    #maximum=x.max()
    return pd.Series([x.max() - x.min()],index=["max-min"])#direct apply function
dd=frame.apply(min_max)#columns wise
print(dd)


dd=frame.apply(min_max, axis=1)#row wise
print(dd)

# sorting and ranking

In [ ]:
x=np.arange(8)

In [ ]:
x

In [ ]:
x.reshape(2,2,2)

In [ ]:
x.reshape((2,4))# .reshape() reshape ka formula hai

In [ ]:
#sort by ranking

In [ ]:
import numpy as np
import pandas as pd
frame1=pd.DataFrame(np.arange(8).reshape((2,4)),index=["three","one"],columns=["d","a","c","b"])
print(frame1)
print(frame1.sort_index(axis=1))#sort_indexing karne se column name tarteeb se aa jate hain agr axis k sath dea jai to
print(frame1.sort_index(axis=1,ascending=False))#asscending False dene se end se tarteeb di jati hai
print(frame1.sort_index())#defult mein row ki indexing tarteeb di jati hai or true hoti hai 
print(frame1.sort_index(axis=0,ascending=False))

In [ ]:
#sort by value

In [ ]:
print(frame1.sort_values(by="b"))
print(frame1.rank(ascending=False,method="max"))
print(frame1.rank(ascending=True,method="max"))
print(frame1.rank(ascending=False,method="min"))
print(frame1.rank(ascending=True,method="min"))
print(frame1.rank(axis="columns"))

In [ ]:
print(frame.sort_values(by="b"))
print(frame.rank(ascending=False,method="max"))
print(frame.rank(ascending=True,method="max"))
print(frame.rank(ascending=False,method="min"))
print(frame.rank(ascending=True,method="min"))
print(frame.rank(axis="columns"))

In [ ]:
print(frame.rank(axis="columns"))

# summarizing and computing descriptive statistics

In [ ]:
df=pd.DataFrame([[1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3]]
                ,index=["a","b","c","d"],columns=["one","two"])#yy ak data frame banaya hai
print(df)
print(df.sum())
print(df.sum(axis="columns"))#axis=1 or axis="columns" same kam karte hain
print(df.sum(axis=1))#axis=1 or axis="columns" same kam karte hain

In [ ]:
#mean opration

In [ ]:
print(df)
x=df.mean()
print(x)

In [ ]:
print(df)
x=df.mean()
print(x)
x=df.mean(axis="columns",skipna=False)#mean ki ok value malom karne k lea istemal hota hai
print(x)
x=df.mean(axis="columns",skipna=True)
print(x)

# unique value

In [ ]:
df1=pd.DataFrame([[1.4,1.4,1.5,np.nan],[7.1,-4.5,1.5,1.4],[1.4,np.nan,0.5,np.nan]
                ,[0.75,-1.3,1.3,np.nan]],index=["a","b","c","d"],columns=["one","two","three","four"])
print(df1)
print()
print(df1["one"].unique(),df1["two"].unique() )#jo value 2 ya us se zada ho gi usa ak hi dafa print karai ga
print(df1["one"].value_counts())

# arithmatic Methods with fill value

In [ ]:
df2=pd.DataFrame(np.arange(12).reshape(3,4),columns=list("abcd"))
df3=pd.DataFrame(np.arange(20).reshape((4,5)),columns=list("abcde"))
print(df2)
print(df3)
df3.loc[1,"b"]=np.nan#.loc[ ] yy notation use ho ga.
print(df3)
df4=df2+df3

print("direct operation without value")
print(df4)
print(".....................")
#we can use add method for filling NaN cell with a value
#NaN WILL BE peplaced by 0 and than addition operation will apply
print ("addition using a method with replacing NaN with 0")
df4=df2.add(df3,fill_value=0)
print(df4)

In [ ]:
#DataFrame - Series

In [ ]:
import numpy as np
import pandas as pd
frame2 = pd.DataFrame(np.random.randn(4,3)
                             ,columns=list("bde")
                             ,index=["utah","ohio","texas","oregon"])
print(frame2)


series=pd.Series([1,2,3],index=list("bde"))
print(series.index,series.values)

print(frame2 - series)

# arithmetic and data alignment.

In [ ]:
import numpy as np
import pandas as pd
data_df=pd.DataFrame(np.arange(16).reshape(4,4),index=["ohio","colorado","utah","newyork"],
                     columns=["one","two","three","four"])
print(data_df)
print(data_df.loc["colorado",["two","three"]])#.loc[] row or columns ka name likh kar call kare ge jo dekhni ho
print(data_df.iloc[2,[3,0,1]])#.iloc[] row or columns kawo num batai ge jis num ka data dekhna hai
print(data_df.iloc[:])#.loc[:] sara data print ho jai ga
print(data_df.iloc[:2,:3])#kitni row or kitne columns dekhne hain
print(data_df.iloc[:,:3])#row sab or jitne columns dekhne ho wo batai ge.
print()
#atribute style hai yy
print(data_df.one[2:])#columns one ki 2 value print ki hon gi
print()
#dictionary style
print(data_df[["one","two"]][:2])

In [ ]:
data_df1=pd.DataFrame(np.arange(16).reshape(4,4),index=["ohio","colorado","utah","newyork"],
                     columns=["one","two","three","four"])
data_df2=pd.DataFrame(np.arange(16).reshape(4,4),index=["bilal","colorado","utah","newyork"],
                     columns=["one","three","four","six"])
print(data_df1)
print(data_df2)
data_df3=data_df1 + data_df2
print(data_df3)

In [ ]:
data_df3=data_df1.add(data_df2,fill_value=0)
print(data_df3)

In [ ]:
#data calling numpy and dictionary style

In [ ]:
print(data_df,"\n")
print(data_df[["one","three"]])#num one or three columns ko call ki
print(data_df[2:])#num 2 se neche jitni row hain un sab ko call ki
print(data_df[1:3])#num 1 se num 3 tak ki row call ki

In [ ]:
#data calling condition base

In [ ]:
print(data_df[data_df>5])# condition 5 se bhara data print ni ho ga us ki jaga nan aai ga
print()
print(data_df[data_df["three"]>5])#condition "three" column mein 5 se zada value wali sab row print hogi
print()
print(data_df.three[data_df["three"]>5])#condition jo column print karana ho

In [ ]:
#condition boolean dataframe jahan wo condition value ho gi wahan true or jahan ni ho gi wahan false aai ga
print(data_df>5)#sare data par condition lagana
print(data_df["three"]>5)#kisi makhsoos data par condition lagana jase "three" num columns par lagai
vv=data_df["three"]>5
print(data_df[vv])
print(data_df[data_df["three"]>5])

In [ ]:
#deleting data for .drop

In [ ]:
print(data_df1)
print(data_df1.drop("two",axis=1))#columns delet karne k lea
print(data_df1.drop("ohio",axis=0))#row delet karne k lea
         #yy sirf yahi delet ho ga main data se ni
print(data_df1)

In [ ]:
#reindex with ffill methods

In [ ]:
bilal=pd.DataFrame(["orange","yellow","blue"],index=[0,3,6])
print(bilal)
bilal1=bilal.reindex(range(9))
print(bilal1)
bilal1=bilal.reindex(range(9),method="ffill")
print(bilal1)
bilal2=bilal1.reindex(range(2,11))
print(bilal2)

In [ ]:
#reindex columns name

In [ ]:
print(data_df2)

In [ ]:
c1=["one","good","men","six","no"]
c2=data_df2.reindex(columns=c1)
print(c2)
c2=data_df2.reindex(columns=(c1),method="ffill")#columns par ffill ka methods use ni ho raha hai
print(c2)