In [1]:
list=("bilal","haroon","luqman")
list.index("bilal")

0

In [11]:
list.index("bilal")

0

In [16]:
arr=0,1,2,3,4,5,6,0.5,7.6
arr.index(4)

4

In [13]:
list=("bilal,haroon,luqman")
list.index("bilal")

0

In [30]:
list2=[1,2,3,4,5,6]
del list2[2]
print(list2)

[1, 2, 4, 5, 6]

In [26]:
del list2[3]

In [40]:
len(list2)

5

In [29]:
print(list2)

[1, 2, 3, 6]

In [31]:
list2=[1,2,3,4,5,6]
del list2[2]
print(list2)

[1, 2, 4, 5, 6]

In [37]:
list2=[1,2,3,4,5,6]
list2.remove(2)
print(list2)

[1, 3, 4, 5, 6]

# tupels

In [38]:
#tuppels is immuteable
atuppel=(1,2,3,4,5)

In [41]:
len(atuppel)

5

# slicing

In [43]:
slicing_step=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]
print(slicing_step[0:13:2])

[1, 3, 5, 7, 9, 11, 13]

In [45]:
slicing_step=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]
print(slicing_step[0:13])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [47]:
slicing_step=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]
print(slicing_step[::2])

[1, 3, 5, 7, 9, 11, 13]

# adding values

In [54]:
student_list=["bilal","haroon","sanaullah"]
student_list.append("abrar")
print(student_list)

['bilal', 'haroon', 'sanaullah', 'abrar']

In [57]:
print(student_list)

['bilal', 'haroon', 'sanaullah', 'abrar']

In [72]:
student_list.append("abubakar")

In [74]:
print(student_list)

['bilal', 'haroon', 'sanaullah', 'abrar', 'kamil', 'kamil', 'kamil', 'kamil', 'kamil', 'kamil', 'kamil', 'kaml', 'kal', 'abubakar']

In [77]:
student_list.insert(2,"junaid")
print(student_list)

['bilal', 'haroon', 'junaid', 'junaid', 'sanaullah', 'abrar', 'kamil', 'kamil', 'kamil', 'kamil', 'kamil', 'kamil', 'kamil', 'kaml', 'kal', 'abubakar']

In [82]:
student_list.extend({"khalid","usman"})
print(student_list)

['bilal', 'haroon', 'junaid', 'junaid', 'sanaullah', 'abrar', 'kamil', 'kamil', 'kamil', 'kamil', 'kamil', 'kamil', 'kamil', 'kaml', 'kal', 'abubakar', 'usman', 'khalid', 'usman', 'khalid', 'usman', 'khalid']

In [81]:
print(student_list)

['bilal', 'haroon', 'junaid', 'junaid', 'sanaullah', 'abrar', 'kamil', 'kamil', 'kamil', 'kamil', 'kamil', 'kamil', 'kamil', 'kaml', 'kal', 'abubakar', 'usman', 'khalid', 'usman', 'khalid']

In [84]:
student_list.count("kamil")

7

In [88]:
student_list2 = student_list.copy()

In [90]:
print(student_list2)

['bilal', 'haroon', 'junaid', 'junaid', 'sanaullah', 'abrar', 'kamil', 'kamil', 'kamil', 'kamil', 'kamil', 'kamil', 'kamil', 'kaml', 'kal', 'abubakar', 'usman', 'khalid', 'usman', 'khalid', 'usman', 'khalid']

In [94]:
student_list3 = student_list

In [99]:
student_list3

['bilal',
 'haroon',
 'junaid',
 'junaid',
 'sanaullah',
 'abrar',
 'kamil',
 'kamil',
 'kamil',
 'kamil',
 'kamil',
 'kamil',
 'kamil',
 'kaml',
 'kal',
 'abubakar',
 'usman',
 'khalid',
 'usman',
 'khalid',
 'usman',
 'khalid',
 'don',
 'don']

In [102]:
student_list.append("don")
print(student_list3)

['bilal', 'haroon', 'junaid', 'junaid', 'sanaullah', 'abrar', 'kamil', 'kamil', 'kamil', 'kamil', 'kamil', 'kamil', 'kamil', 'kaml', 'kal', 'abubakar', 'usman', 'khalid', 'usman', 'khalid', 'usman', 'khalid', 'don', 'don', 'don', 'don', 'don']

In [2]:
print(student_list2)

NameError: name 'student_list2' is not defined

In [5]:
print(123,123)

123 123

In [8]:
print("bilak","haroon",sep="**")

bilak**haroon

In [11]:
type("student_list")

str

In [25]:
list=("bilal")
list1=("muslimeen")
list3=(list + list1)
print(list3)

bilalmuslimeen

In [27]:
list=("bilal")
list1=(" muslimeen")
list3=(list + list1)
print(list3)

bilal muslimeen

In [29]:
num1=100
num2=200
sum=num1+num2
print(sum)

300

# opreter (+,-,*,/,//)

In [30]:
print(2+1)

3

In [34]:
a=24
b=34
print(a+b)

58

In [35]:
a=24
b=34
c=a+b
print(c)

58

In [37]:
v1=100
v2=10
v3=v1+v2
print(v3)

110

In [39]:
v1=100
v2=10.5
v3=v1+v2
print(v3)

110.5

In [41]:
v1=100
v2=10
v3=v1-v2
print(v3)

90

In [42]:
v1=100
v2=10
v3=v1*v2
print(v3)

1000

In [43]:
v1=100
v2=10
v3=v1/v2 #show floting values
print(v3)

10.0

In [45]:
v1=100
v2=10
v3=v1//v2 #show intreger values
print(v3)

10