# test

# tuppel list dictionary

In [5]:
my_name="bilal","haroon","yousuf"
print(my_name)

('bilal', 'haroon', 'yousuf')

In [6]:
my_name.append(kamil)

AttributeError: 'tuple' object has no attribute 'append'

In [31]:
my_name_1=["haroon","kamil","bilal","luqman","abber"]
my_name_1.append("junaid")
print(my_name_1)

['haroon', 'kamil', 'bilal', 'luqman', 'abber', 'junaid']

In [32]:
my_name_1.append("rahrrl")

In [33]:
my_name_1

['haroon', 'kamil', 'bilal', 'luqman', 'abber', 'junaid', 'rahrrl']

In [34]:
del my_name_1[5]

In [35]:
my_name_1

['haroon', 'kamil', 'bilal', 'luqman', 'abber', 'rahrrl']

In [50]:
my_name_1.insert(3,"habib")

In [51]:
my_name_1

['haroon', 'kamil', 'bilal', 'habib', 'luqman', 'abber', 'rahrrl']

In [54]:
my_name_1.extend(["ju","ai"])

In [55]:
my_name_1

['haroon', 'kamil', 'bilal', 'habib', 'luqman', 'abber', 'rahrrl', 'ju', 'ai']

In [62]:
my_name_1.remove("bilal")

In [63]:
my_name_1

['haroon', 'kamil', 'habib', 'luqman', 'abber', 'rahrrl', 'ju', 'ai']

In [65]:
my_name_1.count("kamil")

1

In [68]:
my_name_1.pop(3)

'luqman'

In [70]:
print(my_name_1)

['haroon', 'kamil', 'habib', 'abber', 'rahrrl', 'ju', 'ai']

In [37]:
my_dict={1:1,2:2,3:3,4:4,5:5}
my_dict

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5}

In [38]:
my_dict[6]=6

In [39]:
my_dict

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6}

In [40]:
my_dict[2]

2

In [41]:
len(my_dict)

6

In [42]:
del my_dict[4]

In [43]:
my_dict

{1: 1, 2: 2, 3: 3, 5: 5, 6: 6}

In [88]:
tabiles=int(input("enter_num"))
for a in range(1,11):
    print(f"{tabiles} * {a} = {tabiles*a}")

enter_num5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [85]:
table_num=int(input("enter_num"))
for a in range(1,11):
    print(f"{table_num} * {a} = {table_num*a}")

enter_num4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [91]:
t_n=int(input("enter_num"))
for t_n in range(2,t_n+1):
    for a in range(2,11):
        print(f"{t_n} * {a} = {t_n * a}")

enter_num4
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [96]:
t_n=int(input("enter_num"))
for t_n2 in range(2,t_n+1):
    for a in range(2,11):
        print(f"{t_n} * {a} = {t_n2 * a}")

enter_num4
4 * 2 = 4
4 * 3 = 6
4 * 4 = 8
4 * 5 = 10
4 * 6 = 12
4 * 7 = 14
4 * 8 = 16
4 * 9 = 18
4 * 10 = 20
4 * 2 = 6
4 * 3 = 9
4 * 4 = 12
4 * 5 = 15
4 * 6 = 18
4 * 7 = 21
4 * 8 = 24
4 * 9 = 27
4 * 10 = 30
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [7]:
t_n=int(input("enter_num"))
for t_n2 in range(2,t_n+1):
    for a in range(2,11):
        print(f"{t_n2} * {a} = {t_n2 * a}")

enter_num5
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [12]:
x=6
y=str(5)
z=x*y+y
print(z)

5555555